html {
  scroll-behavior: smooth;
}

/*Definindo na raiz do meu documento duas variáveis definindo a cor.*/
:root {
  --vermelho: #e50914;
  --preta: #141414;
  --azul: #3078a1;
}

* {
  margin: 0;
  padding: 0;
  /*Os elementos não vão sair de dentro do
  container*/
  box-sizing: border-box;
}
/*Elementos base*/

body {
  /*Inseirindo o valor de uma variável em um atributo do css*/
  background: var(--preta);
  font-family: "Arial", Times, serif;
  color: white;
}

header {
  z-index: 2;
  position: fixed;
  background-color: var(--preta);
  width: 100vw;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header span {
  color: var(--azul);
}
header .logo {
  color: var(--vermelho);
  font-family: "Arial Black";
  text-transform: uppercase;
  font-size: 40px;
}
header nav {
  margin-right: 15px;
}
header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
  transition: 0.7s;
}

header nav a:hover {
  color: white;
}

/*FILME PRNCIPAL*/

.livro-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url(../img/imagem_capa_default.jpg);
  height: 400px;
  background-size:cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.livro-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}

.titulo {
  font-size: 40px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  margin-top: 15%;
}
.botoes {
  display: none;
}
.botao {
  text-transform: uppercase;
  background-color: rgba(0,0,0,.50);
  border:none;
  color:white;

  padding: 15px;
  margin-right: 15px;
  font-size: 12px;


 cursor: pointer;
 transition: .5s ease all;
}

.botao:hover {
  background-color: white;
  color: black
}

.botao:active {
  transform:scale(.98);
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 30px;
}

.livro-principal .container {
  width: 70%;
}

.box-livro {
  height:70vh;
  width:100%;
  display: block;
}

.carrossel-livros {
  margin-top: 5px;
}

.classificacao {
  display: block;
  font-size: 25px;
  font-family: 'Arial', Arial, sans-serif;
  margin-bottom: 10px;
  color:rgb(196, 196, 196)
}

.item:hover {
  cursor:pointer;
  transition: .7s;
  transform: translateY(-3%);
  filter: brightness(.4);
  transition: .2s;
}
.item:active {
  transform: scale(.98)
}